.product {
	width: 1600px;
	height: 660px;
	margin: 0;
	border-top: 1px solid #fff;
}
.title {
	margin-top: 95px;
	font-size: 42px;
	text-align: center;
}
.logos {
	width: 1100px;
	margin: 90px auto 0;
	display: flex;
	justify-content: space-around;

}
.singleton {
	margin-left: 72px;
}
.hero {
	margin-left: 95px;
}
.portland {
	margin-left: 74px;
}

.discribe {
	width: 265px;
	height: 200px;
	margin-top: 30px;
	text-align: center;
	color: #b6b6b6;
}