.callToAction {
	width: 1600px;
	height: 800px;
	margin: 0;
	border-top: 1px solid #fff;
	background: url(../img/call_to_action.png) no-repeat;
}
.supportive {
	width: 400px;
	height: 150px;
	margin: 170px 0 0 315px;
	font-size: 42px;
	color: #fff;
}
.china {
	width: 380px;
	height: 150px;
	margin: 55px 0 0 315px;
	color: #93978f;
	font-size: 18px;
}
.button {
	width: 505px;
	height: 60px;
	margin: 25px 0 0 315px;
	display: flex;
}
.button button {
	width: 240px;
	height: 60px;
}
.button :first-child {
	margin-right: 35px;
}
.button :last-child {
	border: 1px solid #696f6a;
	color: #fff;
	background-color: transparent;
}
.ipad {
	width: 640px;
	height: 600px;
	margin-top: 100px;
	background: url(../img/ipad.png) no-repeat;
	float: right;

}
.ipad img {
	margin:30px 0 0 60px;
}