.footer {
	width: 1600px;
	height: 420px;
	margin: 0;
	background-color: #141414;
}
.menu {
	margin-left: 215px;
	display: flex;
}
.menus {
	width: 210px;
	margin: 80px 100px 0 0;
	font-size: 16px;
	color: #535353;
	line-height: 40px;
}
a {
	text-decoration: none;
	color: #535353;
}
.menus p,
.enjoy p {
	color: #fff;
	font-size: 14px;
}
.enjoy {
	width: 265px;
	margin: 80px 0 0 0;
	font-size: 16px;
	color: #535353;
	line-height: 30px;
}
.socials {
	width: 230px;
	margin-top: 40px;
	display: flex;
	justify-content: space-around;
}
