.team {
	width: 1600px;
	height: 1080px;
	margin: 0;
	border-top: 1px solid #eaeaea;
}
.our {
	color: #000;
	font-size: 42px;
	text-align: center;
	margin: 90px auto 0;
}
.ouru {
	width: 710px;
	margin: 30px auto 0;
	color: #848484;
	font-size: 18px;
	text-align: center;
}
.introduce {
	width: 970px;
	margin: 35px auto 0;
	display: flex;
	flex-wrap: wrap;
}
.figure1,
.figure2,
.figure3,
.figure4 {
	margin: 30px  0 0;
	position: relative;
}
.ethan {
	width: 470px;
	height: 340px;
	position: absolute;
	top: 0;
	background-color: rgba(66, 66, 66, .5);
	display: none;
}
.dutton {
	margin-top: 80px;
	color: #fffefb;
	font-size: 20px;
	text-align: center;
}
.senior {
	margin-top: 15px;
	font-size: 10px;
	color: #888;
	text-align: center;
}
.social {
	width: 215px;
	height: 55px;
	display: flex;
	margin: 35px auto 0;
}
.social a {
	margin-right: 30px;
}
.figure1,
.figure3 {
	margin-right: 30px;

}
.introduce :hover .ethan {
	display: block;
}