.feature {
	width: 1600px;
	height: 680px;
	margin: 0;
	border-top: 1px solid #fff;
}
.title1 {
	width: 235px;
	font-size: 14px;
	margin: 85px auto 0;
}
.title2 {
	width: 690px;
	font-size: 42px;
	margin: 35px auto 0;
	text-align: center;
}
.features {
	width: 1030px;
	height: 290px;
	margin: 75px auto 0;
	display: flex;
	flex-wrap: wrap;
}
.feature1,
.feature2,
.feature3,
.feature4 {
	width: 430px;
	height: 145px;
	/*margin-right: 100px;*/
}
.feature1 {

}
.feature1 img,
.feature2 img,
.feature3 img,
.feature4 img {
	float: left;
}
.feature1 div,
.feature2 div,
.feature3 div,
.feature4 div {
	margin-left: 60px;
}
.feature1 :last-child,
.feature2 :last-child,
.feature3 :last-child,
.feature4 :last-child {
	margin-top: 15px;
}
.feature3,
.feature4 {
	margin-left: 170px;
}