.contact {
	width: 1600px;
	height: 700px;
	margin: 0;
	border-top: 1px solid #eaeaea;
	display: flex;
}
.form {
	width: 470px;
	height: 560px;
	margin: 70px 0 0 315px;
	border: 1px solid #eaeaea;
	text-align: center;
}
.fell {
	margin-top: 50px;
	text-align: center;
	font-size: 16px;
	color: #000;
}
.form input{
	width: 370px;
	height: 50px;
	box-sizing: border-box;
	margin-top: 30px;
	padding-left: 20px; 
	border: 1px solid #d4d4d4;
	color: #9d9d9d;
}
.form :nth-child(2) {
	margin-top: 45px;
}
.form :nth-child(4) {
	height: 140px;
}
.form :last-child {
	background-color: #141414;
	color: #fcfcfc;
	border: 1px solid #141414;
	padding: 0;
}
.contacts {
	width: 370px;
	height: 370px;
	margin: 155px 315px 0 130px;
}
.contacts :first-child {
	font-size: 42px;
}
.make {
	font-size: 16px;
	color: #ababab;
	margin-top: 15px;
	margin-bottom: 60px;
}
.contactUs {
	margin-top: 30px;
}
.contactUs img {
	float: left;
}
.contactUs div {
	margin-left: 40px;
	font-size: 16px;
}